@charset 'UTF-8';
/* 1. 모바일까지 ~767px */
@media screen and (max-width: 767px) {

}

/* 2. 태블릿부터 768px~ */
@media screen and (min-width: 768px) {
    
    .logo {
    }
    #ov-hd.fixed,
    #ov-hd > .wrapper {
        height: 90px;
    }
    .insta-item {
        width: 33.3333%;
        padding-top: 33.3333%;
    }
}

/* 3. 태블릿만 768px~1279px */
@media screen and (min-width: 768px) and (max-width: 1279px) {}

/* 4. PC부터 1280px~ */
@media screen and (min-width: 1280px) {
    .m-gnb-open, .m-gnb-close-wrap, .hd-sns-wrap {
        display: none;
    }
    body {
        font-size: 16px;
    }
    #ov-hd > .wrapper {
        height: 90px;
    }
    .logo {
        left: 10%;
        width: 300px;
        height: 100%;
    }
    .ov-gnb-wrap {
        position: static;
        width: inherit;
        height: inherit;
        background-color: transparent;
        overflow: inherit;
    }
    #ov-gnb > ol {
        padding: 0;
        border-bottom: 0;
    }
    .gnb {
        float: right;
    }
    .depth1 {
        position: relative;
        float: left;
    }
    .depth1 > a {
        color: #fff;
        line-height: 90px;
        transition: 0.3s;
    }
    .depth1:hover > a {
        color: #fff;
    }
    .depth1 > a:after {
        display: none;
    }
    .depth2 { /* 서브메뉴 */
        display: none;
        position: absolute;
        left: 50%;
        top: 80px;
        width: 180px;
        height: inherit;
        padding: 20px 0;
        margin-left: -90px;
        line-height: 2.4;
        text-align: center;
        background-color: #fff;
        box-shadow: 0 0 8px rgba(0,0,0,0.15);
    }
    .depth2:before { /* 삼각형 */
        position: absolute;
        left: 50%;
        top: -15px;
        width: 0;
        height: 0;
        margin-left: -7px;
        border-width: 9px 7px;
        border-style: solid;
        border-color: #fff transparent transparent transparent;
        content: '';
    }
    
    .depth2>li {
        justify-content: center;
        display: flex;
    }
    .depth2>li:hover,
    .depth3>li:hover {
        background: rgba(0,0,0,0.1);
    }
    .depth3>li:hover .depth3:before {
        border-color: transparent rgba(0,0,0,0.1) transparent transparent;
    }
    
    .depth3:before { /* 삼각형 */
        position: absolute;
        left: -1px;
        top: 10px;
        width: 0;
        height: 0;
        margin-left: -9px;
        border-width: 7px 8px;
        border-style: solid;
        border-color: transparent transparent transparent #fff;
        content: '';
    }
    
    .depth3 {
        display: none;
        position: absolute;
        left: 107%;
        background: #fff;
        color: black;
        width: 100%;
        height: inherit;
        padding: 20px 0;
        font-size: 0.95em;
    }
    .depth3.active{
        opacity: 1; 
        transition: 0.3s;
        box-shadow: 0 0 8px rgb(0 0 0 / 15%);
    }
    /* 푸터 */
    .insta-item {
        width: 16.6666%;
        padding-top: 16.6666%;
    }
    .ft-bbs-item {
        float: left;
        width: 33.3333%;
        height: 180px;
        padding: 40px 3% 0;
        border-bottom: 0;
    }
    .ft-bbs-item:before { /*세로짝대기*/
        position: absolute;
        right: 0;
        top: 50px;
        width: 1px;
        height: 80px;
        background-color: #999;
        content: '';
    }
    .ft-bbs-item.last:before {
        display: none;
    }
    .bbs-dl:after { /* 파랑 화살표 */
        right: 10%;
    }
    .ft-info1-wrap > div {
        width: 33.3333%;
    }
    .ft-logos, .ft-sns-brand {
        clear: none;
    }
    .ft-logos {
        margin: 0;
    }
    .ft-logos li:nth-child(5) {
        clear: both;
    }
    .ft-sns h3 {
        display: block;
    }
    .btn-circle {
        right: 50px;
        width: 48px;
        height: 48px;
        font-size: 1.3em;
        line-height: 48px;
    }
    .btn-top {
        bottom: 100px;
    }
    
    /* 메인 */
    .ani-top {
        transform: translateX(-50%);
    }
    .fade-in {
        opacity: 1;
        transform: translateX(0);
    }
}